<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENVIRONMENT</key>
	<string>TEST</string>
	<key>MWG_SDK_ACCESS_TOKEN</key>
	<string>1852219d-681a-44d2-bec2-9fc2a9dbd14a</string>
</dict>
</plist>
